/* Courses Section */
.courses-section {
    padding: 2rem;
    background-color: #fff;
}

.courses-section h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3.2rem;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.course-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.course-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.course-card h3 {
    margin: 1rem;
    font-size: 1.25rem;
}

.course-card p {
    margin: 0 1rem 1rem;
    font-size: 1rem;
    color: #666;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px gray;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-toggle {
        display: flex;
    }

    .navbar-links {
        position: absolute;
        top: 60px; /* Adjust this value to match the height of the navbar */
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        background-color: #0047ab;
        transition: height 0.3s ease-in-out;
    }

    .navbar-links.open {
        height: 200px;
    }

    .navbar-links li {
        text-align: center;
        margin: 1rem 0;
    }
}
